*::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    position: relative;
    justify-content: left;
    align-items: center;
    display: flex;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.5);
}

#docoVideo {
    object-fit: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-position: top left;
    outline: none;
}

nav{
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    min-height: 75px;
    padding: 0 50px;
    box-sizing: border-box;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.5);
    z-index: 100;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: 0.35s ease;
    justify-content: space-between;
    align-items: center;
}



nav .logo {
    position: relative;
    text-decoration: none;
    top: 50%;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 300;
    cursor: pointer;
  }
nav .logo span {
   color: #000000;
    font-weight: 600;
}

nav img{
    width: 100px;
}

.menu-button-label {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    transition: 0.4s ease;
  }
  .menu-button-label .white-bar {
    position: absolute;
    height: 2px;
    width: 66%;
    background-color: rgb(0, 0, 0);
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s ease, width 0.3s ease;
  }
  .menu-button-label .white-bar:nth-child(1) {
    top: 24%;
  }
  .menu-button-label .white-bar:nth-child(2),
  .menu-button-label .white-bar:nth-child(3) {
    top: 47%;
  }
  .menu-button-label .white-bar:nth-child(4) {
    top: 71%;
  }
  #menuButton {
    display: none;
  }
  #menuButton:checked+ .menu-button-label .white-bar:nth-child(1),
  #menuButton:checked+ .menu-button-label .white-bar:nth-child(4) {
    width: 0%;
  }
  #menuButton:checked+ .menu-button-label .white-bar:nth-child(2) {
    transform: translateX(-50%) rotate(45deg);
  }
  #menuButton:checked+ .menu-button-label .white-bar:nth-child(3) {
    transform: translateX(-50%) rotate(-45deg);
  }

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #2c84e9;
    display: block;
    margin: auto;
    transition: 0.33s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 33%;
    margin: 8%;
    position: absolute;
    text-align: left;
}

.text-box h1{
    margin-bottom: 0;
    color: white;
    font-size: 128px;
    line-height: 1em;
}

.text-box h2{
    color: white;
    font-weight: 200;
    font-size: 32px;
    line-height: 2em;
    padding-left: 7px;
}

.text-box p{
    padding: 0;
    font-size: 16px;
    color: white;
    margin-bottom: 24px;
    padding-left: 7px;
}

.doco-btn{
    margin-left: 7px;
    display: inline-block;
    border-radius: 1em;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 24px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    transition: all 0.25s;
}


.doco-btn:hover {
    color: black;
    border: 1px solid black;
    background-color: white;
}

nav .fa{
    display: none;
}

nav .menu-button-label{
    display: none;
}

/* --------- default --------*/

.default-btn{
    width: 100%;
    display: inline-block;
    border-radius: 1em;
    text-decoration: none;
    border: 1px solid white;
    padding: 12px 24px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    margin-top: auto;
}

.container {
    position: relative;
    background-color: white;
    width: 75%;
    border-radius: 12px;
    margin: auto;
    margin-top: 120px;
    text-align: left;
    padding: 32px 32px;
}


.container h1{
    position: relative;
    left: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.container h1 span {
    display: block;
    font-size: 0.5em;
}

.container h1:before {
    position: absolute;
    left: -15px;
    bottom: 0px;
    width: 6px;
    height: 100%;
    content: "";
    background-color: #2c84e9;
}

.container h1 span {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

/* ----------- service ------------ */


.row{
    margin: auto;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.col{
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    margin: 12px;
    border-radius: 12px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.col p{
    text-align: left;
    padding: 12px 0px;
    margin-bottom: 24px;
}

.col h3{
    text-align: left;
    font-weight: 600;
}

/* ------- location -------- */


.col img{
    width: 100%;
    display: block;
}

.col .layer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.col .layer h3{
    text-align: left;
    padding-left: 12px;
    width: 100%;
    font-weight: 250;
    font-size: 26px;
    color: white;
    left: 50%;
    opacity: 1;
    bottom: 75%;
}

/* ----------- reviews ---------- */

.reviews p{
    margin-bottom: 32px;
}

.container .review-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.review-card{
    margin: 10px;
    max-width: 66%;
    border-radius: 10px;
    text-align: left;
    background: #fff3f3;
    padding:25px;
	transition: transform 0.2s;
}

.review-card:hover {
    transform: scale(1.1);
}

.review-card img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px; 
    border-radius: 50%;
}

.review-card p{
    padding: 0;
    margin-bottom: 0;
}

.review-card h3{
    margin-top: 15px;
    text-align: left;
}
.review-card .fa{
    color: #FFD700;
}


    
    
/* Styling the links of
the events section */
.events ul {
    padding: 40px;
    box-sizing: border-box;
}
    
/* Styling the lists of the event section */
.events ul li {
    list-style: none;
    background: #fff;
    box-sizing: border-box;
    height: 120px;
    margin: 24px 0;
}
    
/* Styling the time class of events section */
.events ul li .time {
    position: relative;
    background: #262626;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    transition: .5s;
}
    
/* Styling the hover effect
    of events section */
.events ul li:hover .time {
    background: #e91e63;
}
    
/* Styling the header of time
    class of events section */
.events ul li .time h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60px;
    line-height: 30px;
}
    
/* Styling the texts of time
class of events section */
.events ul li .time h2 span {
    font-size: 30px;
}
    
/* Styling the details
class of events section */
.events ul li .details {
    padding: 0px 20px;
    background: #fff;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
}
    
/* Styling the header of the
details class of events section */
.events ul li .details h3 {
    text-align: left;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
}
    
/* Styling the lists of details
class of events section */
.events ul li .details p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}
    
/* Styling the links of details
class of events section */
.events ul li .details a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border: 1.5px solid #262626;
    border-radius: 12px;
    margin-top: 8px;
    font-size: 18px;
    transition: .5s;
}
    
/* Styling the details class's hover effect */
.events ul li .details a:hover {
    background: #e91e63;
    color: #fff;
    border-color: #e91e63;
}


/* ------------ fooooooooter ---------- */

footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }


/* -------------- responsive ------------- */
@media(max-width: 700px) {
    .header {
        justify-content: center;
    }

    .text-box {
        width: 90%;
        position: absolute;
        text-align: center;
    }

    .text-box h1{
        font-size: 50px;
    }

    .text-box h2{
        font-size: 24px;
        padding: 0px;
    }

    .doco-btn {
        margin: 0;
    }

    .text-box p{
        font-size: 16px;
        padding: 0px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li a{
        color: white;
    }
    .nav-links{
        position: absolute;
        background: black;
        border-radius: 0 0 0 15%;
        height: auto;
        width:175px;
        top: 75px;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.75s;
    }

    nav {
        padding: 0px 25px;
    }

    nav .menu-button-label{
        position: absolute;
        display: block;
        color: black;
        font-size: 22px;
        cursor: pointer;
        transition: 0.75s;
    }
    .nav-links ul{
        padding: 16px;
    }

    .row{
        flex-direction: column;
    }

    .service{width: 75%;}
    .location{width: 75%;}
    .reviews{width: 75%;}

    /* Styling the links of
    the events section */
    .events ul {
        padding: 0px;
        margin-top: 24px;
        box-sizing: border-box;
    }
        
    /* Styling the lists of the event section */
    .events ul li {
        list-style: none;
        background: #fff;
        box-sizing: border-box;
        height: 100px;
    }
        
    /* Styling the time class of events section */
    .events ul li .time {
        position: relative;
        background: #262626;
        box-sizing: border-box;
        border-radius: 12px;
        width: 30%;
        height: 100%;
        float: left;
        text-align: center;
        transition: .5s;
    }
        
    /* Styling the hover effect
        of events section */
    .events ul li:hover .time {
        background: #e91e63;
    }
        
    /* Styling the header of time
        class of events section */
    .events ul li .time h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 24px;
        line-height: 30px;
    }
        
    /* Styling the texts of time
    class of events section */
    .events ul li .time h2 span {
        font-size: 18px;
    }
        
    /* Styling the details
    class of events section */
    .events ul li .details {
        padding: 0px 0px 0px 20px;
        background: #fff;
        box-sizing: border-box;
        width: 70%;
        height: 100%;
        float: left;
        display: flex;
        flex-direction: column;
    }
        
    /* Styling the header of the
    details class of events section */
    .events ul li .details h3 {
        text-align: left;
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 18px;
    }
        
    /* Styling the lists of details
    class of events section */
    .events ul li .details p {
        position: relative;
        margin: 0px;
        font-size: 20px;
    }
        
    /* Styling the links of details
    class of events section */
    .events ul li .details a {
        padding: 6px 18px;
        margin-top: auto;
        margin-right: auto;
        border: 1.5px solid #262626;
        font-size: 16px;
        transition: .5s;
    }
        
    /* Styling the details class's hover effect */
    .events ul li .details a:hover {
        background: #e91e63;
        color: #fff;
        border-color: #e91e63;
    }

}