*::-webkit-scrollbar{
    display: none;
}

html{
    scroll-behavior:smooth;
}

body {
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(62,6,64,1) 54%, rgba(0,66,78,1) 100%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* outline: 1px solid red; */
}

img {
    width: 100%;
}

nav * {
    color: white;
}

nav {
    width: 100%;
    position: fixed;
    color: White;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: 1;
    transition: 0.35s ease;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

nav.shrunk {
    top: -75px; /* Shrink height when scrolling */
}


nav .logo {
    position: relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
    cursor: pointer;
  }
nav .logo span {
    font-weight: 600;
}

.menu-button-label {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    transition: 0.4s ease;
  }
  .menu-button-label .white-bar {
    position: absolute;
    height: 2px;
    width: 66%;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s ease, width 0.3s ease;
  }
  .menu-button-label .white-bar:nth-child(1) {
    top: 24%;
  }
  .menu-button-label .white-bar:nth-child(2),
  .menu-button-label .white-bar:nth-child(3) {
    top: 47%;
  }
  .menu-button-label .white-bar:nth-child(4) {
    top: 71%;
  }
  #menuButton {
    display: none;
  }
  #menuButton:checked+ .menu-button-label .white-bar:nth-child(1),
  #menuButton:checked+ .menu-button-label .white-bar:nth-child(4) {
    width: 0%;
  }
  #menuButton:checked+ .menu-button-label .white-bar:nth-child(2) {
    transform: translateX(-50%) rotate(45deg);
  }
  #menuButton:checked+ .menu-button-label .white-bar:nth-child(3) {
    transform: translateX(-50%) rotate(-45deg);
  }

nav .nav-links{
    color: white;
    flex: 1;
    text-align: right;
}

nav .nav-links ul li{
    color: white;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav .nav-links ul li a{
    text-decoration: none;
    font-size: 16px;
}

nav .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #690083;
    display: block;
    margin: auto;
    transition: 0.33s;
}

nav .nav-links ul li:hover::after{
    width: 100%;
}

button {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 24px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    transition: all 0.25s;
}


button:hover {
    backdrop-filter: blur(5px); /* Blurs content behind the navbar */
    border: 1px solid black;
    background-color: white;
}

nav .fa{
    display: none;
}

nav .menu-button-label{
    display: none;
}

.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hero .logo {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.hero .logo button {
    margin: auto;
    width: 150px;
}

/* --------- default --------*/

.container {
    position: relative;
    width: 75%;
    margin: 32px auto;
    color: white;
    scroll-margin-top: 130px;
    text-align: left;
}

.container .content {
    margin-top: 2rem;
    display: flex;
}



.container h1{
    position: relative;
    width: 66%;
    left: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.container h1 span {
    display: block;
    font-size: 0.5em;
}

.container h1:before {
    position: absolute;
    left: -15px;
    bottom: 0px;
    width: 6px;
    height: 100%;
    content: "";
    box-shadow: 0 0 10px #ff62ff, 0 0 20px #ff62ff, 0 0 30px #ff62ff, 0 0 40px #ff62ff;
    background-color: #ff62ff
}

.container h1 span {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}


.row{
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.col{
    flex-direction: column;
    flex: 1;
    margin: 12px;
    border-radius: 12px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.col p{
    text-align: left;
    padding: 12px 0px;
    margin-bottom: 24px;
}

.col h3{
    text-align: left;
    font-weight: 600;
}

/* ------- location -------- */


.col img{
    width: 100%;
    display: block;
}

.col .layer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.col .layer h3{
    text-align: left;
    padding-left: 12px;
    width: 100%;
    font-weight: 250;
    font-size: 26px;
    color: white;
    left: 50%;
    opacity: 1;
    bottom: 75%;
}

    
/* Styling the links of
the events section */
.events ul {
    box-sizing: border-box;
}
    
/* Styling the lists of the event section */
.events ul li {
    list-style: none;
    box-sizing: border-box;
    border: 1.5px solid white;
    height: 120px;
    margin: 24px 0;
}
    
/* Styling the time class of events section */
.events ul li .time {
    position: relative;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    transition: .5s;
}
    
/* Styling the hover effect
    of events section */
.events ul li:hover .time {
    background: #e91e63;
}
    
/* Styling the header of time
    class of events section */
.events ul li .time h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 30px;
}
    
/* Styling the texts of time
class of events section */
.events ul li .time h2 span {
    font-size: 30px;
}
    
/* Styling the details
class of events section */
.events ul li .details {
    padding: 20px 20px;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
}
    
/* Styling the header of the
details class of events section */
.events ul li .details h3 {
    text-align: left;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
}
    
/* Styling the lists of details
class of events section */
.events ul li .details p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}
    
/* Styling the links of details
class of events section */
.events ul li .details a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border: 1.5px solid #262626;
    border-radius: 12px;
    margin-top: 8px;
    font-size: 18px;
    transition: .5s;
}
    
/* Styling the details class's hover effect */
.events ul li .details a:hover {
    background: #730096;
    color: #fff;
    border-color: #6301a5;
}


/* Contact form */
.contact {
    overflow-y: hidden; /*Fixed issue with contact form creating a scroll bar during animation*/
}


form{
    width: 100%;
}

form label{
    font-size: 18px;
}

input,
select,
textarea{
    width: 100%;
    display: block;
    color: white;
    background-color: transparent;
    padding: 8px 0px;
    margin-bottom: 1rem;
    border: 1px solid white;
}


/* ∧∧∧ END contact form styling ∧∧∧ */


/* ------------ fooooooooter ---------- */

footer{
    position: relative;
    color: white;
    bottom: 0;
    font-size: 8px;
    text-align: center;
    margin: 1rem 1rem;
  }


/* -------------- responsive ------------- */
@media(max-width: 700px) {

    .container {
        width: 90%;
    }

    .hero {
        height: 75vh;
    }
    
    .hero .logo {
        width: 100%;
    }
    
    .hero .logo button {
        width: 200px;
    }

    .text-box p{
        font-size: 16px;
        padding: 0px;
    }
    nav .nav-links ul li{
        display: block;
    }
    nav .nav-links ul li a{
        color: white;
    }
    nav .nav-links{
        position: absolute;
        backdrop-filter: blur(10px); /* Blurs content behind the navbar */
        outline: 1px solid white;
        border-radius: 0 0 0 1rem;
        height: auto;
        width:175px;
        top: 75px;
        right: -175px;
        text-align: left;
        z-index: 1000;
        transition: 0.75s;
    }

    nav {
        padding: 0px 25px;
    }

    nav .menu-button-label{
        position: absolute;
        display: block;
        font-size: 22px;
        cursor: pointer;
        transition: 0.75s;
    }

    nav .nav-links ul{
        padding: 16px;
    }

    .container .content{
        flex-direction: column;
    }

    /* Styling the links of
    the events section */
    .events ul {
        padding: 0px;
        margin-top: 24px;
        box-sizing: border-box;
    }
        
    /* Styling the lists of the event section */
    .events ul li {
        list-style: none;
        box-sizing: border-box;
        height: 75px;
    }
        
    /* Styling the time class of events section */
    .events ul li .time {
        position: relative;
        box-sizing: border-box;
        width: 40%;
        height: 100%;
        float: left;
        text-align: center;
        transition: .5s;
    }
        
    /* Styling the header of time
        class of events section */
    .events ul li .time h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        line-height: 30px;
    }
        
    /* Styling the texts of time
    class of events section */
    .events ul li .time h2 span {
        font-size: 1rem;
    }
        
    /* Styling the details
    class of events section */
    .events ul li .details {
        box-sizing: border-box;
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
        
    /* Styling the header of the
    details class of events section */
    .events ul li .details h3 {
        text-align: left;
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 18px;
    }
        
    /* Styling the lists of details
    class of events section */
    .events ul li .details p {
        position: relative;
        margin: 0px;
        font-size: 20px;
    }
        
    /* Styling the links of details
    class of events section */
    .events ul li .details a {
        padding: 6px 18px;
        margin-top: auto;
        margin-right: auto;
        font-size: 16px;
        transition: .5s;
    }

    form{
        width: 100%;
    }

    input,
    select,
    textarea{
        box-sizing: border-box;
        color: white;
        background-color: transparent;
        padding: 8px 8px;
        border: 1px solid white;
    }

        
}